In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df=pd.read_csv('C:\\Users\\Lenovo\\Desktop\\FDS NPTEL\\MegaMart_sales.csv')

df.shape

(59, 8)

#### Combining two data frames
Question 1: Some of the orders are stored in another csv file named `megamart_new sales`. Read the csv file, store it in a data frame and add it to the `megamart_sales` data frame. Find the total sales value of the category 'Office Supplies'  after combining the dataframes

    a)7970
    b)6964
    c)7494
    d)6076

In [ ]:
#your code here
df=pd.concat([df,df_new],axis=0,ignore_index=True)
df.shape

(68, 8)

#### Dropping duplicates
Question 2: There are some duplicate rows in the data frame. Drop these rows and calculate the total sales value of the category Office Supplies.

    a)7156
    b)6496
    c)6964
    d)6023

 Dataframe.duplicated() method of Pandas.


Syntax : DataFrame.duplicated(subset = None, keep = ‘first’)
Parameters:
subset: This Takes a column or list of column label. It’s default value is None. After passing columns, it will consider them only for duplicates.
keep: This Controls how to consider duplicate value. It has only three distinct value and default is ‘first’.


If ‘first’, This considers first value as unique and rest of the same values as duplicate.
If ‘last’, This considers last value as unique and rest of the same values as duplicate.
If ‘False’, This considers all of the same values as duplicates.
Returns: Boolean Series denoting duplicate rows.

#### Dropping duplicates
Question 2: There are some duplicate rows in the data frame. Drop these rows and calculate the total sales value of the category Office Supplies.

    a)7156
    b)6496
    c)6964
    d)6023

In [ ]:
#your code here
duplicate = df[df.duplicated()]
duplicate

df.drop_duplicates()
DataFrame.drop_duplicates(subset=None, *, keep='first', inplace=False, ignore_index=False)[source]
Return DataFrame with duplicate rows removed.

Considering certain columns is optional. Indexes, including time indexes are ignored.

Parameters
subsetcolumn label or sequence of labels, optional
Only consider certain columns for identifying duplicates, by default use all of the columns.

keep{‘first’, ‘last’, False}, default ‘first’
Determines which duplicates (if any) to keep.

‘first’ : Drop duplicates except for the first occurrence.

‘last’ : Drop duplicates except for the last occurrence.

False : Drop all duplicates.

inplacebool, default False
Whether to modify the DataFrame rather than creating a new one.

ignore_indexbool, default False
If True, the resulting axis will be labeled 0, 1, …, n - 1.

Returns
DataFrame or None
DataFrame with duplicates removed or None if inplace=True.

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df.shape

(61, 8)

In [ ]:
df.groupby(['Category']).Sales.sum()

Category
Furniture          2460
Office Supplies    6964
Technology         7494
Name: Sales, dtype: int64

#### Best category-sub category
Question 3: Find the most profitable category and sub category combination based on the net profit.


    a)Furniture-Bookcases
    b)Office supplies-Appliances
    c)Office supplies-Storage
    d)Technology-Phones

In [ ]:
#your code here

df.groupby(['Category','Sub-Category'])['Profit'].sum()

Category         Sub-Category
Furniture        Bookcases        308
                 Chairs           -49
                 Furnishings       74
Office Supplies  Appliances       229
                 Art              275
                 Binders          156
                 Envelopes         35
                 Fasteners         10
                 Labels            30
                 Paper             15
                 Storage          192
                 Supplies         103
Technology       Accessories      215
                 Copiers            0
                 Machines         168
                 Phones          1618
Name: Profit, dtype: int64

#### Invalid order IDs
Question 4: How many invalid order IDs are there in the data frame? An order id is of the form AZ-2011-Y where Y represents a whole number. A Order ID is said to be valid only if Y consists of 7 digits. Find the number of invalid order IDs in the data frame.
    
    a)6
    b)7
    c)8
    d)9

In [ ]:
#your code here

#### Occurence of furniture in top 25 sales
Question 5: Find the top 25 orders based on sales value and find the number of orders which belong to furniture category.

    a)2
    b)3
    c)4
    d)5

In [ ]:
#your code here
df2=df.sort_values(by='Sales', ascending=False)
df2=df2.iloc[:25,]
df2

,Order ID,Product Name,Discount,Sales,Profit,Quantity,Category,Sub-Category
30,AZ-2011-1410648,"Nokia Smart Phone, Full Size",0.0,1908,820,3,Technology,Phones
58,AZ-2011-176674,"Hoover Microwave, Red",0.1,1667,185,6,Office Supplies,Appliances
8,AZ-2011-1174243,"Nokia Audio Dock, with Caller ID",0.0,1334,200,8,Technology,Phones
20,AZ-2011-1322840,"Motorola Headset, with Caller ID",0.0,957,316,12,Technology,Phones
3,AZ-2011-1372644,"Panasonic Printer, Durable",0.0,800,168,3,Technology,Machines
18,AZ-2011-1406494,"Fellowes Lockers, Industrial",0.1,748,283,4,Office Supplies,Storage
39,AZ-2011-1536006,"Logitech Keyboard, Programmable",0.0,666,66,9,Technology,Accessories
33,AZ-2011-1445262,"Apple Smart Phone, Cordless",0.0,636,140,1,Technology,Phones
31,AZ-2011-144325,"Bush Stackable Bookrack, Pine",0.0,630,132,5,Furniture,Bookcases
14,AZ-2011-1260928,"Eldon File Cart, Single Width",0.1,576,51,5,Office Supplies,Storage
12,AZ-2011-1253407,"Safco Stackable Bookrack, Pine",0.1,541,156,4,Furniture,Bookcases
48,AZ-2011-1672552,"Binney & Smith Sketch Pad, Blue",0.0,510,132,11,Office Supplies,Art
41,AZ-2011-1584049,"Brother Ink, Laser",0.0,442,0,3,Technology,Copiers
52,AZ-2011-1722024,"Cisco Audio Dock, VoIP",0.0,364,142,2,Technology,Phones
59,AZ-2011-1902971,"Wilson Jones Binding Machine, Clear",0.0,339,102,7,Office Supplies,Binders
17,AZ-2011-130330,"Office Star Chairmat, Adjustable",0.1,307,99,5,Furniture,Chairs
2,AZ-2011-1087704,"Belkin Flash Drive, Bluetooth",0.0,294,109,7,Technology,Accessories
60,AZ-2011-1916360,"Dania 3-Shelf Cabinet, Mobile",0.0,288,20,2,Furniture,Bookcases
11,AZ-2011-1240916,"Boston Canvas, Water Color",0.0,284,43,5,Office Supplies,Art
34,AZ-2011-145488,"Rogers File Cart, Industrial",0.4,255,-98,3,Office Supplies,Storage
6,AZ-2011-1116129,"Avery Binding Machine, Durable",0.0,252,15,5,Office Supplies,Binders
42,AZ-2011-1584987,"Tenex File Cart, Industrial",0.1,241,24,2,Office Supplies,Storage
38,AZ-2011-1499597,"Boston Markers, Fluorescent",0.0,193,29,7,Office Supplies,Art
46,AZ-2011-1655349,"Fiskars Trimmer, Easy Grip",0.0,176,65,4,Office Supplies,Supplies
43,AZ-2011-1589827,"Novimex Steel Folding Chair, Red",0.6,164,-70,5,Furniture,Chairs

In [ ]:
df2.groupby(['Category']).count()

,Order ID,Product Name,Discount,Sales,Profit,Quantity,Sub-Category
Category,,,,,,,
Furniture,5,5,5,5,5,5,5
Office Supplies,11,11,11,11,11,11,11
Technology,9,9,9,9,9,9,9

In [ ]:
df2['Category'].value_counts()

Office Supplies    11
Technology          9
Furniture           5
Name: Category, dtype: int64

#### And operation
Question 6: Among the orders with sales>250 and profit>50, find the product name of the fourth highest order based on sales value.

    a)Motorola Headset, with Caller ID
    b)Panasonic Printer, Durable
    c)Hoover Microwave, Red
    d)Fellowes Lockers, Industrial

In [ ]:
#your code here
df3=df.loc[(df['Sales']>250) & (df['Profit']>50)]
df3=df3.sort_values(by='Sales', ascending=False)

IndexingError: Too many indexers

In [ ]:
df3.iloc[4,:]

Order ID                   AZ-2011-1372644
Product Name    Panasonic Printer, Durable
Discount                               0.0
Sales                                  800
Profit                                 168
Quantity                                 3
Category                        Technology
Sub-Category                      Machines
Name: 3, dtype: object

#### Column manipulation
Question 7: Remove the orders with negative profit by dropping the corresponding rows with negative `Profit`. Find the product that makes the lowest profit per Quantity in the Technology category.

    a) Nokia Audio Dock, with Caller ID
    b) Logitech Keyboard, Programmable
    c) Motorola Headset, with Caller ID
    d) Belkin Flash Drive, Bluetooth

In [ ]:
df[df['Profit'] <= 0].index

Int64Index([41], dtype='int64')

In [ ]:
#your code here
df=df.drop(df[df['Profit'] <= 0].index)

In [ ]:
df.shape

(52, 8)

In [ ]:
df4=df.loc[df.Category=='Technology']

In [ ]:
df4

,Order ID,Product Name,Discount,Sales,Profit,Quantity,Category,Sub-Category
2,AZ-2011-1087704,"Belkin Flash Drive, Bluetooth",0.0,294,109,7,Technology,Accessories
3,AZ-2011-1372644,"Panasonic Printer, Durable",0.0,800,168,3,Technology,Machines
8,AZ-2011-1174243,"Nokia Audio Dock, with Caller ID",0.0,1334,200,8,Technology,Phones
20,AZ-2011-1322840,"Motorola Headset, with Caller ID",0.0,957,316,12,Technology,Phones
30,AZ-2011-1410648,"Nokia Smart Phone, Full Size",0.0,1908,820,3,Technology,Phones
33,AZ-2011-1445262,"Apple Smart Phone, Cordless",0.0,636,140,1,Technology,Phones
39,AZ-2011-1536006,"Logitech Keyboard, Programmable",0.0,666,66,9,Technology,Accessories
52,AZ-2011-1722024,"Cisco Audio Dock, VoIP",0.0,364,142,2,Technology,Phones
63,AZ-2011-1967754,"Logitech Numeric Keypad, USB",0.0,93,40,2,Technology,Accessories

In [ ]:
df4['Profit_per_qty']=df4['Profit']/df4['Quantity']

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_2088\4212157033.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['Profit_per_qty']=df4['Profit']/df4['Quantity']

In [ ]:
df4

,Order ID,Product Name,Discount,Sales,Profit,Quantity,Category,Sub-Category,Profit_per_qty
2,AZ-2011-1087704,"Belkin Flash Drive, Bluetooth",0.0,294,109,7,Technology,Accessories,15.571429
3,AZ-2011-1372644,"Panasonic Printer, Durable",0.0,800,168,3,Technology,Machines,56.000000
8,AZ-2011-1174243,"Nokia Audio Dock, with Caller ID",0.0,1334,200,8,Technology,Phones,25.000000
20,AZ-2011-1322840,"Motorola Headset, with Caller ID",0.0,957,316,12,Technology,Phones,26.333333
30,AZ-2011-1410648,"Nokia Smart Phone, Full Size",0.0,1908,820,3,Technology,Phones,273.333333
33,AZ-2011-1445262,"Apple Smart Phone, Cordless",0.0,636,140,1,Technology,Phones,140.000000
39,AZ-2011-1536006,"Logitech Keyboard, Programmable",0.0,666,66,9,Technology,Accessories,7.333333
52,AZ-2011-1722024,"Cisco Audio Dock, VoIP",0.0,364,142,2,Technology,Phones,71.000000
63,AZ-2011-1967754,"Logitech Numeric Keypad, USB",0.0,93,40,2,Technology,Accessories,20.000000

In [ ]:
df5=df4.sort_values(by='Profit_per_qty', ascending=True)
df5

,Order ID,Product Name,Discount,Sales,Profit,Quantity,Category,Sub-Category,Profit_per_qty
39,AZ-2011-1536006,"Logitech Keyboard, Programmable",0.0,666,66,9,Technology,Accessories,7.333333
2,AZ-2011-1087704,"Belkin Flash Drive, Bluetooth",0.0,294,109,7,Technology,Accessories,15.571429
63,AZ-2011-1967754,"Logitech Numeric Keypad, USB",0.0,93,40,2,Technology,Accessories,20.000000
8,AZ-2011-1174243,"Nokia Audio Dock, with Caller ID",0.0,1334,200,8,Technology,Phones,25.000000
20,AZ-2011-1322840,"Motorola Headset, with Caller ID",0.0,957,316,12,Technology,Phones,26.333333
3,AZ-2011-1372644,"Panasonic Printer, Durable",0.0,800,168,3,Technology,Machines,56.000000
52,AZ-2011-1722024,"Cisco Audio Dock, VoIP",0.0,364,142,2,Technology,Phones,71.000000
33,AZ-2011-1445262,"Apple Smart Phone, Cordless",0.0,636,140,1,Technology,Phones,140.000000
30,AZ-2011-1410648,"Nokia Smart Phone, Full Size",0.0,1908,820,3,Technology,Phones,273.333333

In [ ]:
df5.iloc[0,:2]

Order ID                        AZ-2011-1536006
Product Name    Logitech Keyboard, Programmable
Name: 39, dtype: object

In [ ]:
df4=df[df.Profit>0]
df4=df4.loc[df4.Category=='Technology']

df4['Profit_per_qty']=df4['Profit']/df4['Quantity']

df4.sort_values(by='Profit_per_qty',ascending=True)

,Order ID,Product Name,Discount,Sales,Profit,Quantity,Category,Sub-Category,Profit_per_qty
39,AZ-2011-1536006,"Logitech Keyboard, Programmable",0.0,666,66,9,Technology,Accessories,7.333333
2,AZ-2011-1087704,"Belkin Flash Drive, Bluetooth",0.0,294,109,7,Technology,Accessories,15.571429
63,AZ-2011-1967754,"Logitech Numeric Keypad, USB",0.0,93,40,2,Technology,Accessories,20.000000
8,AZ-2011-1174243,"Nokia Audio Dock, with Caller ID",0.0,1334,200,8,Technology,Phones,25.000000
20,AZ-2011-1322840,"Motorola Headset, with Caller ID",0.0,957,316,12,Technology,Phones,26.333333
3,AZ-2011-1372644,"Panasonic Printer, Durable",0.0,800,168,3,Technology,Machines,56.000000
52,AZ-2011-1722024,"Cisco Audio Dock, VoIP",0.0,364,142,2,Technology,Phones,71.000000
33,AZ-2011-1445262,"Apple Smart Phone, Cordless",0.0,636,140,1,Technology,Phones,140.000000
30,AZ-2011-1410648,"Nokia Smart Phone, Full Size",0.0,1908,820,3,Technology,Phones,273.333333