**Name** : Bodhisatya Ghosh \
**Class** : CSE DS \
**UID** : 2021700026 \
**Subject** : BAP \
**Experiment number** : 3

In [209]:
import pandas as pd
import numpy as np

### 1.  Merge two or more data frames based on a common key.

    Create a new pandas dataframe with containing 20 records and 5 attributes. 

    One attribute should compulsorily be a categorical variable, which is common with a categorical attribute from the CSV dataset that has been used earlier by you. 

    The other 4 attributes can be generated on reasonable assumptions.
    
    Merge these 2 datasets on the common key

In [210]:
data1 = {
    'id': range(1, 21),
    'Name': ['John', 'Alice', 'Bob', 'Eva', 'Michael', 'Olivia', 'Daniel', 'Sophia', 'Charlie', 'Emma',
             'Liam', 'Mia', 'Jacob', 'Ava', 'Matthew', 'Grace', 'Ethan', 'Chloe', 'Andrew', 'Lily'],
    'Age': [25, 30, 22, 28, 35, 27, 31, 29, 24, 32, 28, 26, 30, 33, 23, 26, 34, 25, 29, 31],
    'City': ['New York', 'Los Angeles', 'Chicago', 'San Francisco', 'Miami', 'Seattle', 'Boston', 'Dallas', 'Houston', 'Atlanta',
             'Denver', 'Phoenix', 'Austin', 'San Diego', 'Philadelphia', 'Detroit', 'Minneapolis', 'Tampa', 'Portland', 'Charlotte'],
    'Salary': [75000, 90000, 60000, 85000, 110000, 80000, 95000, 87000, 72000, 92000, 89000, 82000, 90000, 98000, 71000, 78000, 105000, 73000, 86000, 91000],
}

df1 = pd.DataFrame(data1)
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      20 non-null     int64
 1   Name    20 non-null     object
 2   Age     20 non-null     int64
 3   City    20 non-null     object
 4   Salary  20 non-null     int64
dtypes: int64(3), object(2)
memory usage: 928.0+ bytes

In [211]:
key = range(1, 21)

df2 = pd.read_csv('../exp 1/penguins_size.csv').iloc[0:20]
df2['id'] = key
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            20 non-null     object
 1   island             20 non-null     object
 2   culmen_length_mm   19 non-null     float64
 3   culmen_depth_mm    19 non-null     float64
 4   flipper_length_mm  19 non-null     float64
 5   body_mass_g        19 non-null     float64
 6   sex                15 non-null     object
 7   id                 20 non-null     int64
dtypes: float64(4), int64(1), object(3)
memory usage: 1.4+ KB

In [212]:
merged = pd.merge(left=df1, right=df2, how='inner', on='id')

index = merged['id']

merged.drop(columns=['id'],inplace=True)
merged.set_index(index,inplace=True)

merged.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, 1 to 20
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               20 non-null     object
 1   Age                20 non-null     int64
 2   City               20 non-null     object
 3   Salary             20 non-null     int64
 4   species            20 non-null     object
 5   island             20 non-null     object
 6   culmen_length_mm   19 non-null     float64
 7   culmen_depth_mm    19 non-null     float64
 8   flipper_length_mm  19 non-null     float64
 9   body_mass_g        19 non-null     float64
 10  sex                15 non-null     object
dtypes: float64(4), int64(2), object(5)
memory usage: 1.9+ KB

### 2.  Concatenate multiple Data Frames vertically or horizontally

    Create 5 new rows of the same schema as the original csv dataframe.  

    Use a new categorical value for the common key attribute.

    Concatenate this horizontally with the existing dataframe

    Similarly, execute a vertical concatenation with a mock dataframe.