In [15]:
import pandas as pd
import numpy as np

In [16]:
data = pd.read_csv("breast cancer.csv")
data.drop(columns=['Unnamed: 0'],inplace=True)
data.head()

,Class,Age,Menopause,Tumor-size,Inv-nodes,Node-caps,Deg-malig,Breast,Breast-quad,Irradiat
0,no-recurrence-events,30-39,premeno,30-34,0-2,no,3,left,left_low,no
1,no-recurrence-events,40-49,premeno,20-24,0-2,no,2,right,right_up,no
2,no-recurrence-events,40-49,premeno,20-24,0-2,no,2,left,left_low,no
3,no-recurrence-events,60-69,ge40,15-19,0-2,no,2,right,left_up,no
4,no-recurrence-events,40-49,premeno,0-4,0-2,no,2,right,right_low,no

In [ ]:
def replace_avg(data):
    data = data.str.split()
    for i in data

In [ ]:
data['Age'] = data['Age'].str.split('-')

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 286 entries, 0 to 285
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Class        286 non-null    object
 1   Age          286 non-null    object
 2   Menopause    286 non-null    object
 3   Tumor-size   286 non-null    object
 4   Inv-nodes    286 non-null    object
 5   Node-caps    286 non-null    object
 6   Deg-malig    286 non-null    int64
 7   Breast       286 non-null    object
 8   Breast-quad  286 non-null    object
 9   Irradiat     286 non-null    object
dtypes: int64(1), object(9)
memory usage: 22.5+ KB

In [18]:
data.describe()

        Deg-malig
count  286.000000
mean     2.048951
std      0.738217
min      1.000000
25%      2.000000
50%      2.000000
75%      3.000000
max      3.000000

In [19]:
data.isna().mean()

Class          0.0
Age            0.0
Menopause      0.0
Tumor-size     0.0
Inv-nodes      0.0
Node-caps      0.0
Deg-malig      0.0
Breast         0.0
Breast-quad    0.0
Irradiat       0.0
dtype: float64