In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = pd.Series([0.25,0.5,0.75,1.0])

In [ ]:
data.items

<bound method Series.items of 0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64>

In [ ]:
data.index = ['a','b','c','d']
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [ ]:
list(data.items())

[('a', 0.25), ('b', 0.5), ('c', 0.75), ('d', 1.0)]

In [39]:
population = {'City':{256875,2025700026,4542988,88284642}}
pop = pd.Series(population)
pop = pd.DataFrame(population)
pop

               City
Chennai     4542988
Delhi    2025700026
Kolkata    88284642
Mumbai       256875

In [42]:
dat = [{'a':1,'b':2,'c':3},{'b':5,'c':8}]
data = pd.DataFrame(dat)
data

     a  b  c
0  1.0  2  3
1  NaN  5  8

In [110]:
data = pd.DataFrame(np.random.random((25,3)),)
data

           0         1         2
0   0.793924  0.299926  0.110729
1   0.643112  0.748930  0.258725
2   0.682951  0.074747  0.303026
3   0.276415  0.847149  0.665142
4   0.379345  0.588877  0.976301
5   0.387057  0.049202  0.923798
6   0.561699  0.655667  0.626255
7   0.728958  0.071701  0.510988
8   0.309096  0.366651  0.349168
9   0.244853  0.307425  0.654317
10  0.965698  0.962590  0.556829
11  0.753241  0.603363  0.899139
12  0.963195  0.590282  0.974644
13  0.289805  0.886945  0.733654
14  0.820327  0.931317  0.738321
15  0.550263  0.072554  0.697425
16  0.648741  0.508642  0.802231
17  0.501274  0.505191  0.110729
18  0.482968  0.458628  0.634563
19  0.384521  0.843832  0.522576
20  0.736742  0.311733  0.127165
21  0.575733  0.409006  0.618488
22  0.285469  0.785213  0.091001
23  0.502466  0.913750  0.671280
24  0.894277  0.551988  0.511605