In [1]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_csv('customer.csv')
df.sample(5)

    age gender   review education purchased
11   74   Male     Good        UG       Yes
37   94   Male  Average        PG       Yes
12   51   Male     Poor    School        No
28   48   Male     Poor    School        No
45   61   Male     Poor        PG       Yes

In [5]:
df.nunique()

age          41
gender        2
review        3
education     3
purchased     2
dtype: int64