In [177]:
import pandas as pd
import numpy as np

In [178]:
data = pd.read_csv("sales_data_types - sales_data_types.csv")

In [179]:
data.head()

,Customer Number,Customer Name,2016,2017,Percent Growth,Jan Units,Month,Day,Year,Active
0,10002,Quest Industries,"$125,000.00","$162,500.00",30.00%,500,1,10,2015,Y
1,552278,Smith Plumbing,"$920,000.00","$1,012,000.00",10.00%,700,6,15,2014,Y
2,23477,ACME Industrial,"$50,000.00","$62,500.00",25.00%,125,3,29,2016,Y
3,24900,Brekke LTD,"$350,000.00","$490,000.00",4.00%,75,10,27,2015,Y
4,651029,Harbor Co,"$15,000.00","$12,750.00",-15.00%,Closed,2,2,2014,N

In [180]:
data.describe()

       Customer Number      Month        Day        Year
count         5.000000   5.000000   5.000000     5.00000
mean     252337.200000   4.400000  16.600000  2014.80000
std      320838.999788   3.646917  11.414903     0.83666
min       10002.000000   1.000000   2.000000  2014.00000
25%       23477.000000   2.000000  10.000000  2014.00000
50%       24900.000000   3.000000  15.000000  2015.00000
75%      552278.000000   6.000000  27.000000  2015.00000
max      651029.000000  10.000000  29.000000  2016.00000

In [187]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Customer Number  5 non-null      int64
 1   Customer Name    5 non-null      object
 2   2016             5 non-null      int32
 3   2017             5 non-null      object
 4   Percent Growth   5 non-null      float64
 5   Jan Units        5 non-null      float64
 6   Month            5 non-null      int64
 7   Day              5 non-null      int64
 8   Year             5 non-null      int64
 9   Active           5 non-null      object
dtypes: float64(2), int32(1), int64(4), object(3)
memory usage: 508.0+ bytes

In [182]:
def replace_char(to_be_replaced,with_this,the_series,type_to_be):
    for i in to_be_replaced:
        the_series = the_series.str.replace(i,with_this)
    the_series = the_series.astype(type_to_be)
    return the_series

In [183]:
# data["2016"] = data["2016"].str.replace("$","")
# data["2016"] = data["2016"].str.replace(",","")
# data["2016"] = data["2016"].str.replace(".","")
# data["2016"] = data["2016"].astype(int)
# data["2017"] = data["2017"].str.replace("$","")
# data["2017"] = data["2017"].str.replace(",","")
# data["2017"] = data["2017"].str.replace(".","")
# data["2017"] = data["2017"].astype(int)
data["2016"] = replace_char(["$",",","."],"",data["2016"],"int")

In [184]:
# data["Percent Growth"] = data["Percent Growth"].str.replace("%","")
# data["Percent Growth"] = data["Percent Growth"].str.replace(".","")
# data["Percent Growth"] = data["Percent Growth"].astype("int")
data["Percent Growth"] = replace_char(["%"],"",data["Percent Growth"],"float")

In [185]:
# data["Active"] = data["Active"].astype(bool)
# data

In [186]:
data["Jan Units"] = pd.to_numeric(data["Jan Units"],errors="coerce").fillna(0)